@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.flexContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    order: 1;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.nav {
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background: #181818;
    font-size: 32px;
    flex-shrink: 0;
    position: fixed;
    
}

.nav > div {
    width: 70px;
}

.splash {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 70px;
    height: 100%;
    background: url("../images/dnaStrand.png");;
    flex-grow: 1;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left,#94d6d6 0,#41aaaa 50%,#94d6d6 100%);
    border-image-slice: 1;

}

.splash h1 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center; */
    font-size: 60px;
    font: bold;
    color: #08fdd8;
}

.splash p {
    font-size: 18px;
    color: white;
}

.fab, .fas, .far {
    -webkit-font-smoothing: antialiased;
    padding: 6px;
    -webkit-text-stroke: 0.75px #000;
    color: #444;
    transition: color, linear, .7s;     
}

.description {
    display: flex;
    margin-left: 70px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
    flex-grow: 1;
    order: 2;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left,#94d6d6 0,#41aaaa 50%,#94d6d6 100%);
    border-image-slice: 1;
}

.aboutLeft {
    background: white;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.aboutMeTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #08fdd8;
    font-size: 32px;
    width: 100%;
    padding-top: 40px;
}

.aboutMePic {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.img {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url("../images/NPJ.jpg");
    height: 300px;
    width: 300px;
    background-size: 600px;
    border-radius: 50%;
    background-position: center;
    background-position-y: -63px;
}

.aboutRight {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: white;

}

.textContainer {
    height: 100%;
    width: 100%; 
}

.aboutRight p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10% 20% 0 20%;
    font-size: 24px;
    /* letter-spacing: 1px; */
    line-height: 32px;
    background: rgba(0, 0, 0, .1);
}

/* Hovers  */

.fab:hover, .fas:hover, .far:hover {
    text-shadow: 0 0 1px white;
    color: #18ffdc;
}

/* Animations */

@keyframes hoverGlow {

}

/*=======Contact Form==================*/

.contactArea {
    background: #222;
    width: 100%;
    height: 100%;
    margin-left: 70px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    order: 3;
}

.contactSection {
    font-family: "Open sans";
    background: url("../images/bioinf.jpg");
    background-position: center;
    width: 800px;
    height: 450px;
    text-align: center;
    display: flex;
    color: #08fdd8;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
    margin: 0 auto 0 auto;
  }
  
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 45%;
    background: rgba(20, 20, 20, .7);
    border-right: 5px solid rgba(30, 30, 30, .8);
}
  
.contactSection h2 {
    padding-top: 20px;
    font-weight: 300;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contactSection p {
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.icon {
    font-size: 8em;
    padding: 18px 0;
    color: rgba(10, 180, 180, 1);
}
  
.contactForm {
    width: 70%;
    background: rgba(20, 40, 40, .7);
    transition: .2s;
}
  
.contactForm h2 {
    font-weight: 300;
}
  
.inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    color: white;
    resize: none;
}
  
.noBullet {
    list-style-type: none;
    padding: 0;
}
  
#submit {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 16px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
}
  
#submit:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}
  



/* splashpage */

/* body {
    background: black;
}

.jumbotron {
    background: url("../Images/Mount_Fuji.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.forbackground {
    background: url("../Images/Cherry_Blossoms.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.card-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.card {
    width: 500px;
    display: flex;
    margin-top: 3em;
    margin-bottom: 4em;
}

.card-body {
    display: flex;
    align-content: center;
    justify-content: center;
}

.flex-container {
    padding: 3em;
}

.flex-grid-dubs {
    display: flex;
    height: 600px;
   
}

.flex-grid-dubs .col {
    display: flex;
    background-size: cover;
}

 .one {
    background: url("../Images/Shinto_Shrine.jpg");
    margin-right: 5px;
    margin-bottom: 5px;
 }

 .two {
    background: url("../Images/Tokyo_Night.jpg");
    margin-bottom: 5px;
 }

 .three {
    background: url("../Images/Onsen.jpg");
    margin-right: 5px;
   
 }

 .four {
    background: url("../Images/Kyoto_JP.jpg");
 } */

 /* @media (max-width: 960px) {
    .flex-grid-dubs{
      display: block;
      width: 100%;
      
    }
      .col {
        width: 1em;
        margin: 0 0 10px 0;
      }
    } */
 