html {
    height: 100%;
}

body {
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.flexContainer {
    display: flex;
    height: 100%;
    width: 100%;
    background: black;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    order: 1;
    flex-direction: column;
}

.nav {
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background: black;
    font-size: 32px;
    flex-shrink: 0;
    position: fixed;
}

.nav > div {
    width: 70px;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    margin-left: 70px;
    height: 100%;
    background: #222;
    flex-grow: 1;
}

.splash h1 {
    font-size: 32px;
    color: #08fdd8;
}

.splash p {
    font-size: 12px;
    color: white;
}

.fab, .fas, .far {
    -webkit-font-smoothing: antialiased;
    padding: 6px;
    -webkit-text-stroke: 0.75px #000;
    color: #444;
    transition: color, linear, .5s;     
}

.description {
    display: flex;
    margin-left: 70px;

    height: 100%;
    width: 100%;
    color: white;
    background: #333;
    flex-grow: 1;
    order: 2;
}

.sticky {
    background: blue;
    width: 50%;
}

.aboutme {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: green;

}

.aboutme p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    
}

/* Hovers  */

.fab:hover, .fas:hover, .far:hover {
    text-shadow: 0 0 1px white;
    color: #18ffdc;
}

/* Animations */

@keyframes hoverGlow {

}


/* splashpage */

/* body {
    background: black;
}

.jumbotron {
    background: url("../Images/Mount_Fuji.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.forbackground {
    background: url("../Images/Cherry_Blossoms.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.card-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.card {
    width: 500px;
    display: flex;
    margin-top: 3em;
    margin-bottom: 4em;
}

.card-body {
    display: flex;
    align-content: center;
    justify-content: center;
}

.flex-container {
    padding: 3em;
}

.flex-grid-dubs {
    display: flex;
    height: 600px;
   
}

.flex-grid-dubs .col {
    display: flex;
    background-size: cover;
}

 .one {
    background: url("../Images/Shinto_Shrine.jpg");
    margin-right: 5px;
    margin-bottom: 5px;
 }

 .two {
    background: url("../Images/Tokyo_Night.jpg");
    margin-bottom: 5px;
 }

 .three {
    background: url("../Images/Onsen.jpg");
    margin-right: 5px;
   
 }

 .four {
    background: url("../Images/Kyoto_JP.jpg");
 } */

 /* @media (max-width: 960px) {
    .flex-grid-dubs{
      display: block;
      width: 100%;
      
    }
      .col {
        width: 1em;
        margin: 0 0 10px 0;
      }
    } */
 